<link rel="stylesheet" href="startsida.css">
<div class="flex items-center justify-center">
    @if(arHenInloggad){
    <h1>Välkommen, {{ name }}</h1>
    }
</div>

<article class="flex flex-col justify-center items-center">
    <div class="xl:w-3/5 xl:h-4/5 lg:w-3/5 md:w-2/3 sm:w-4/5 w-90 text-center">

        <div class="rounded-full bg-pink-500 p-12 skew-y-3 mt-7">
            <h1 class="nanum-brush text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-white">Schysst käk i
                magen gör
                dig
                stark för att klara hela dagen!</h1>
        </div>

        <div class="py-12">

            <div class="xl:w-full lg:w-full sm:w-full xl:h-96 lg:h-80 sm:h-80 overflow-hidden bg-cover bg-center mb-20"
                style="background-image: url('../../assets/bilder/startsidabild1.jpg');">
                <div class="bg-black bg-opacity-50 text-white text-center py-10">
                    <h2 class="text-3xl sm:text-3xl md:text-5xl lg:text-5xl">Sök & Utforska:</h2>
                    <p>Bläddra bland ett brett utbud av recept från olika kök och kulturer. Använd vår sökfunktion för
                        att
                        hitta
                        exakt vad du letar efter eller låt dig inspireras av våra rekommenderade rätter.</p>
                </div>
            </div>
        </div>
    </div>
</article>