<article class="flex flex-col justify-center items-center">
    <div class="xl:w-3/5 xl:h-4/5 lg:w-3/5 md:w-2/3 sm:w-4/5 w-90 text-center">
        <h1 class="text-3xl sm:text-3xl md:text-5xl lg:text-5xl py-5">Välkommen till MatListan!</h1>
        <div class="xl:w-full lg:w-full sm:w-full xl:h-96 lg:h-80 sm:h-80 overflow-hidden bg-cover bg-center"
            style="background-image: url('../../assets/bilder/startsidabild1.jpg');">
            <div class="bg-black bg-opacity-50 text-white text-center py-10">
                <h2 class="text-3xl sm:text-3xl md:text-5xl lg:text-5xl">Sök & Utforska:</h2>
                <p>Bläddra bland ett brett utbud av recept från olika kök och kulturer. Använd vår sökfunktion för att
                    hitta
                    exakt vad du letar efter eller låt dig inspireras av våra rekommenderade rätter.</p>
            </div>
        </div>
    </div>
</article>