<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
  </style>
</head>



<body class="font-[Poppins]">
  <header class="bg-white">
    <nav class="flex justify-between items-center w-[92%] mx-auto">
      <div class="p-4">
        <a routerLink="/startsida" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img class="w-16" src="../assets/bilder/logga.png" alt="Logga Äpple">
        </a>
      </div>

      <!-- Navbar i mobilläge är den hidden md:block för att dölja-->
      <div
        class="md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[100%] md:w-auto w-full flex items-center px-5 hidden md:block">
        <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
          @if(arHenInloggad){
          <li routerLink="/recipe-card" routerLinkActive="active" ariaCurrentWhenActive="page" class="hidden md:flex">
            <a class="hover:text-gray-500">Sök Recept</a>
          </li>
          }


        </ul>
      </div>






      <!-- Hamburger knapp i navbar-->
      <!-- 1. Hamburgermenu: Förklaring finns i Mikael README -->

      <div class="flex items-center gap-6">
        @if(!arHenInloggad){
        <button class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec] hidden md:flex"
          (click)="getUser()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Logga
          in</button>
        }
        @if(arHenInloggad){
        <button class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec] hidden md:flex"
          (click)="logout()" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Logga
          ut</button>
        }
        <img class="w-12 text-3xl cursor-pointer md:hidden" src="../assets/bilder/menu-outline.svg" alt="hamburger"
          (click)="openMenu()">
      </div>

      <!-- <hr class="border-b border-black w-[90%] mx-auto my-2"> -->
    </nav>

    <!-- Hamburger ul -->

    <div class="md:hidden static absolute bg-gray-200 min-h-[60vh] left-0 top-20px w-full px-15 z-50"
      [ngClass]="{ 'hidden': !menuValue}" [class.mobile_menu]="menuValue">

      <ul class="flex flex-col gap-4">

        @if(!arHenInloggad){
        <li>
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block py-2 px-4 hover:text-gray-500" (click)="openMenu()">Logga In</a>
        </li>
        <hr class="border-t border-gray-300">
        }
        @if(arHenInloggad){
        <hr class="border-t border-gray-300">
        <li>
          <a routerLink="/recipe-card" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block py-2 px-4 hover:text-gray-500" (click)="openMenu()">Sök Recept</a>
        </li>

        <hr class="border-t border-gray-300">
        <li>
          <a routerLink="/logout" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block py-2 px-4 hover:text-gray-500" (click)="openMenu()" (click)="logout()">Logga Ut</a>
        </li>
        <hr class="border-t border-gray-300">
        }


      </ul>
    </div>









    <!-- Svart sträck -->
    <hr class="border-b border-black w-[90%] mx-auto my-2">
  </header>



  <router-outlet></router-outlet>

  <!-- Gör Footer -->

  <footer class="bg-gray-400 text-white p-4 fixed bottom-0 w-full">
    <div class="container mx-auto">
      <p class="text-center">&copy; 2024 Maad Mike. Alla rättigheter förbehållna.</p>
    </div>
    <div></div>
  </footer>


</body>